<aside class="widget">
    <h3 class="widget-title">关于我</h3>
    <div class="widget-content">
	  <img src='/css/images/20170830214745.jpg' style='border-radius: 50%; width:60%; margin-bottom: 10px;' />
      <p>邮箱：yumingluan@126.com</p>
      <p>QQ：421157541</p>
          
    </div>
</aside>