<aside class="widget">
    <h3 class="widget-title">友情链接</h3>
    <div class="widget-content">
<ul id='link-list'>
<!-- link begin -->
<li><a href="http://www.csdn.com/">csdn</a></li>


<!-- -->

<li><a href="http://jb51.net">脚本之家</a></li>


<!-- -->

<li><a href="http://www.jikexueyuan.com/">极客学院</a></li>

<!-- link end -->
</ul>
    </div>
</aside>