<footer id="colophon" role="contentinfo">
    <p>&copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
    All rights reserved.</p>
    <p>Powered by <a href="#">Hexo</a>&nbsp;&nbsp;<a href="#">龙哥盟</a></p>
</footer>